<section class="template-4">
	<section class="splash">
		<div class="container">
			<img class="avatar"
				src="{{ avatar }}">
			<h1 class="splash-name">{{name}}</h1>
			<h6 class="splash-type">{{title}}</h6>
		</div>
	</section>
	<section class="about">
		<div class="container">
			<p class="about-description">{{about}}</p>
			<ul class="about-contact">

				{{#if email.show}}
				<li>
					<a href="mailto:{{email.val}}"><span class="fa fa-envelope"></span></a>
				</li>
				{{/if}}

				{{#if twitter.show}}
				<li>
					<a href="{{twitter.val}}" target="_blank"><span class="fa fa-twitter"></span></a>
				</li>
				{{/if}}

				{{#if github.show}}
				<li>
					<a href="{{github.val }}" target="_blank"><span class="fa fa-github"></span></a>
				</li>
				{{/if}}

				{{#if linkedIn.show}}
				<li>
					<a href="{{linkedIn.val }}" target="_blank"><span class="fa fa-linkedin"></span></a>
				</li>
				{{/if}}

				{{#if dribbble.show}}
				<li>
					<a href="{{dribbble.val }}" target="_blank"><span class="fa fa-dribbble"></span></a>
				</li>
				{{/if}}

			</ul>
		</div>
	</section>
	<section class="projects">
		<div class="container">
			<ul class="projects-list">
				{{#each projects}}
					{{#if this.show}}
						<li>
							<a href="{{ this.url }}" target="_blank">
								<h3 class="project-name">{{this.name}}</h3>
							</a>
							<div class="markdown">
								{{{content}}}
							</div>
			                <hr class="divider" />
						</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</section>
</section>